:root {
  --black: #011526;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #56778c;
  --magenta: #254559;
  --aqua: #8eacbf;
  --white: #ebebf2;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}
/* border box model: https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: var(--magenta);
}

a:hover {
  color: var(--hotmag);
  text-decoration: none;
}

#intro {
  padding: 4rem 1rem 10rem 1rem;
  margin: 0 auto;
  max-width: 1200px;
}

#intro .name {
  font-family: var(--mono);
}

.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--aqua);
  display: block;
}

#intro h2 {
  font-size: 4rem;
  font-weight: 400;
}

#contact {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 15rem 0;
}

#contact p:last-child {
  margin-top: 3rem;
}

#highlights {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  padding: 15rem 0;
}
/* background- color divs */

.gradient {
  background: linear-gradient(90deg, rgba(86, 119, 140, 1) 0%, rgba(235, 235, 242, 1) 100%);
  height: 2px;
}

.contact-section {
  background-color: var(--dkblue);
}

nav {
  font-family: var(--mono);
  font-size: 80%;
  padding: 1rem;
}

nav h1 a {
  font-family: var(--sans);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}

nav [class*="fa-"] {
  font-size: 150%;
  color: var(--aqua);
}

nav h1 [class*="fa-"] {
  font-size: 100%;
  color: var(--aqua);
}

nav a {
  color: var(--white);
  text-decoration: none;
  display: block;
}

nav a:hover,
nav [class*="fa-"]:hover {
  color: var(--magenta);
}

.button {
  background-color: var(--magenta);
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 90%;
  font-family: var(--mono);
  text-decoration: none;
  color: var(--white);
}

.button:hover {
  color: var(--white);
  background-color: var(--hotmag);
}

footer {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

footer {
  padding: 4rem 0;
  text-align: center;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3rem;
  font-size: 3rem;
}

@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 2rem auto;
    /* padding: 50px auto */
  }

  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}
